.appointmentsDiv{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
}

.uk-search-icon-flip svg{
    padding: 0 !important;
    cursor: pointer;
}

.visible{
    display: block !important;
}

.uk-animation-shake{
    animation-name: uk-shake !important;
}