.css-v6mo1y-MuiTimelineDot-root{
    padding: 0px !important;
}
.css-7kp53o-MuiTimelineDot-root{
    padding: 0px !important;
}
.css-1uwk1ka-MuiTimelineDot-root{
    padding: 0px !important;
    border-style: none !important;
}
.css-1v41xfw-MuiTimelineDot-root{
    padding: 0px !important;
    border-style: none !important;
}