.apptcard {
    width: 18vw;
    height: 42vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background: linear-gradient(293deg, rgb(185, 185, 255) 0%, rgb(72, 225, 255) 100%);
    border-radius: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    row-gap: 20px;
    font-weight: 700;
    transition: height 0.5s,width 0.5s;
    cursor: pointer;
}

.apptcard:hover{
    height: 43vh;
    width: 19vw;
}