.TrimesterTitle {
  font-size: 1.3em;
  color: #1977cc;
  margin-bottom: 0.5em;
}
.TrimesterDesc{
    margin-bottom: 1em;
}
.TrimesterDesc p {
  color: #8b8b8b;
}
.TrimesterDesc ul {
  padding: 0px 20px;
  color: #8b8b8b;
}
.StageConatiner {
  display: flex;
  justify-content: space-between;
  /* gap: em; */
}
.BtnDivs{
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    gap: 2em;
}
.BtnDivs button {
    padding: 14px 20px;
    background-color: #1977cc;
    border: none;
    border-radius: 1em;
    color: #fff;
    font-weight: bold;
}
