.NutrientCont{
    margin-bottom: 5em;
}
.NutrientDropDown{
    display: flex;
    padding: 20px 40px;
}
.NutrientDropDown input {
    padding: 10px 20px;
    width: 100%;
    margin-top: 1em;
}
.NutrientsTabsCont{
    padding: 20px 40px;
}
.GptNutrient {
    width: 100%;
    display: flex;
    justify-content: center;
}
.GptNutrient button{
    padding: 10px 20px;
    width: 20%;
    font-weight: 600;
    border-radius: 0.5em;
    background-color: #09203f;
    color: #fff;
    border: none;
}